[submodule "hashtab"]
	path = hashtab
	url = git@github.com:moiri/hashtab.git
[submodule "stack"]
	path = stack
	url = git@github.com:moiri/stack.git
[submodule "uthash"]
	path = uthash
	url = git@github.com:troydhanson/uthash.git
