Package: smxc-<maj_version>
Version: <version>
Section: base
Priority: optional
Architecture: amd64
Depends: libsmxrts-0.1 (>= 0.1.0-0)
Maintainer: Simon Maurer <tpf@humdek.unibe.ch>
Description: Streamix Compiler 'esmxc'
 This is a compiler for the coordination language Streamix. It takes a file
 containing Streamix syntax and produces a dependency graph in either the
 `graphml` (default) or `gml` format.
